body{
    background: #2c2c2c;
    padding: 0;
    margin: 0;
    font-family: raleway;
    color: #ffffff;
}
.nave{
    width: 100%;
    padding: 0 10%;
    margin: 0auto;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    justify-content: space-between;
}

.nave_caja1{
   font-weight: bold;
   margin: 0;
}

.nave_caja2{
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.nave_caja2_a{
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1;
    padding: 1%;
    border-bottom: 1px solid #2c2c2c;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nave_caja2_a p {
    margin: 10px 0;
    text-align: center;
}

.nave_caja2_a:hover{
    text-decoration: none;
    color: rgb(255, 217, 0);
    background-color: black;
    border-bottom: 1px solid rgb(255, 217, 0);
    transition: all 0.5s;
}

.prese{
    display: flex;
    padding: 5% 0;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.prese_anim{
    position: absolute;
    width: 100%;
    height: 72%;
    overflow: hidden;
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 55%, rgba(88,88,88,1) 100%);
}
.box div:nth-child(odd){
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 3px solid rgba(238, 202, 1, 0.6);
}

.box div:nth-child(even){
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 255px;
    border: 4px solid rgba(238, 202, 1, 0.6);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 80%;
    left: 2%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 12s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
.prese_caja1{
    width: 60%;
}

.prese_caja2{
    width: 33%;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.253) 10px 10px 10px;
}

.prese_caja2_saludo{
    width: 15%;
    position: absolute;
    top: 140px;
    left: 1100px;
    
}

.prese_caja1_p1{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.prese_caja1_p1_animacion{
    color: rgb(255, 217, 0);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    font-style: normal;
}

.prese_caja1_p2{
    font-size: 1.5rem;
}

.prese_caja1_redes{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.pie{
    background-color: white;
    padding: 3% 0;
}

.pie p{
    width: 20%;
    margin: 0 auto;
    color: #464646;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}