@media (max-width:768px){
    .nave{
        display: none;
    }

    .prese{
        height: 80vh;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        padding: 0 5%;
    }

    .prese_anim{
        height: 80vh;
    }
    

    .prese_caja1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .prese_caja1_p1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .prese_caja1_p2 {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }


    .prese_caja1_p1_animacion{
        font-size: 1.7rem;
        text-align: center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .typed-cursor{
        font-size: 1.7rem;
    }

    .prese_caja1_redes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .prese_caja2{
        width: 60%;
        margin-bottom: 3%;
    }

    .nave_caja2_a{
        display: flex;
        align-items: center;
        width: 100px;
    }

    .nave_caja2_a img{
        margin:0 2px;
        width: 10px;
        height: 10px;
    }

    .sobre{
        padding: 10% 10%;
    }

    .skills_contenedor{
        flex-wrap: wrap;
    }

    .hardSkills{
        width: 100%;
        flex-direction: column;
    }

    .hardSkills_caja1{
        width: 100%;
        text-align: justify;
    }

    .hardSkills_caja1_titulo{
        font-size: 1.7rem;
        text-align: center;

    }

    .hardSkills_caja2{
        width: 100%;
        order: -1;
    }

    .hardSkills_caja2_monitor{
        width: 100%;
        margin: 0;
        margin-top: 15%;
        padding: 0;
    }

    .skills_caja{
        width: 40%;
        margin-bottom: 4%;
        height: auto;
        padding-top: 10%;
        padding-bottom: 4%;
    }

    .formac_contenedor{
        flex-wrap: wrap;
        justify-content: center;
    }

    .exp_contenedor{
        flex-direction: column;
        margin: 20% 0;
    }

    .exp_contenedor_caja1{
        width: 100%;
    }

    .exp_contenedor_caja2{
        width: 100%;
    }
    .exp_contenedor_caja2_etiqueta{
        width: 100%;
    }

    .exp_contenedor_caja2_tag{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .exp_contenedor_caja2_button1{
        padding: 3%;
    }

    .exp_contenedor_caja2_button2{
        padding: 3%;
    }

    .contacto_caja1{
        display: none;
    }

    .contacto_caja2{
        width: 100%;
        padding: 4% 0;
    }

    .paraInputs {
        width: auto;
    }

    .contacto_caja2_button{
        width: auto;
    }

    .pie p{
        width: auto;
        font-size: 1rem;
    }
}